.FormulaireProfil{
    border : 2px solid black;
    padding: 2em;
    width: 800px;
    height: 500px;
    margin: 3rem auto;
    border-radius: 20px;
    background : #0F9F49;
    z-index: 20;
}

.FormulaireProfil input{
    cursor:auto;
    width : 100%;
    font-size: 20px;
    margin-bottom: 3%;
}

.FormulaireProfil label{
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 3%;
}