.FormulaireProfil{
    border : 2px solid black;
    padding: 2em;
    width: 500px;
    margin: 10rem auto;
    z-index: 12;
}

.FormulaireProfil input{
    width : 100%;
}

.FormulaireProfil label{
    display: block;
    text-align: center;
}