.FormulaireProfil{
    border : 2px solid black;
    padding: 2em;
    width: 500px;
    margin: 3rem auto;
    border-radius: 20px;
    background : #0F9F49;
    z-index: 100;
}

.FormulaireProfil input{
    width : 100%;
}

.FormulaireProfil label{
    display: block;
    text-align: center;
}