#user_menu{
    border-radius: 10px;
    background-color: #1E1E1E;
    position: absolute;
    width: 200px;
    height: 104px;
    left: 30px;
    top: 50px;
    opacity: 80%;
    z-index: 10;

}

#btt_email{
    border:none;
    background-color: #1E1E1E;
    position: absolute;
    width: 133px;
    height: 16px;
    left: 0px;
    top: 12px;
    text-align: left;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    
    color: #FFFFFF;
    
}


#btt_profil{
    border:none;
    background-color: #1E1E1E;
    position: absolute;
    width: 133px;
    height: 16px;
    left: 0px;
    top: 40px;
    text-align: left;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;

}

#btt_deco{
    border-top: 2px solid #7452FF;
    border-bottom:none;
    border-left: none;
    border-right: none;
    background-color: #1E1E1E;
    position: absolute;
    width: 100%;
    height: 20px;
    text-align: left;
    left: 0px;
    top: 70px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
    
}
