body{
    background : #DDDDDD;   
}



.selection{
    position: relative;
    height: 293px;
    width: 90%;
    margin-left:7%;
    top: 90px;
    border-radius: 20px;

    background: #FFFFFF;
}

.Attribut{
    position: absolute;
    width: 60%;
    height: 32px;
    left: 31px;
    margin-top: 130px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;

    color: #000000;
}

.Score{
    position: absolute;
    width: 60%;
    height: 32px;
    left: 65%;
    margin-top: 90px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;

    color: #000000;
}

#name{
    position: absolute;
    width: 60%;
    height: 76px;
    margin-left: 2%;
    top: 100px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    border: 3px solid #0F9F49;
    border-radius: 20px;
}

#score{
    position: absolute;
    width: 30%;
    height: 76px;
    margin-left: 65%;
    top: 100px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    border: 3px solid #0F9F49;
    border-radius: 20px;
}

.submitForm1{
    cursor: pointer;
    position: absolute;
    width: 265px;
    height: 55px;
    margin-left: 40%;
    top: 219px;
    border-radius: 20px;
    
    font-family: 'Arial';
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding : auto;

    color: #000000;
    background: #0F9F49;
    border: 4px solid #0F9F49;
}

.listeAttribut{

    position: relative;
    height: auto;
    width: 90%;
    top: 100px;
    margin-left:7%;
    border-radius: 20px;
    background: #FFFFFF;

}
#listeTitre{
    position:relative;
    margin-left: 42%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.trashButton{
    cursor: pointer;
    border-radius: 5px;
    top: auto;
    background-color: red;
    width: 35px;
    color: black;
}

th[scope="col"] {
    background-color:#0F9F49;
    color: black;
}
th{
    border-radius: 10px;
    width: 100%;
  
    padding: 10px 60px 10px 60px;
}

td {
    font-family: 'Arial';
    font-weight: bold;
    text-align: center;
}
table {
    border-radius: 10px;
    border-collapse: collapse;

    letter-spacing: 1px;
    font-family: 'Arial';
    font-size: 40px;
}


.typeList{
    cursor: pointer;
    position: relative;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
    font-family: "Arial";
    font-size: 40px;
    width: 90%;
    margin-top: 7%;
    height: 100px;
    margin-left: 7%;
    text-align: center;
    border: 10px solid white;
    border-radius: 20px;    
}


.chart{
    position: relative;
    height: 1000px;
    width: 90%;
    margin-left:7%;
    margin-top: 2%;
    border-radius: 20px;
    background: #FFFFFF;

}

.graphRadar{
    position: relative;
    width: 50%;
    height: 60%;
    margin-left: auto;
    margin-right:auto;
    top: 10%;
}

.graphPolar{
    position: relative;
    width: 50%;
    height: 60%;
    margin-left: auto;
    margin-right:auto;
    top: 10%;
}

.graphBar{
    position: relative;
    width: 50%;
    height: 60%;
    margin-left: auto;
    margin-right:auto;
    top: 30%;
}




.save{
    position: relative;
    height: 293px;
    width: 90%;
    margin-left:7%;
    margin-top: 3%;
    border-radius: 20px;
    background: #FFFFFF;
}

.titre{
    position: absolute;
    width: 60%;
    height: 32px;
    left: 31px;
    margin-top: 30px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;

    color: #000000;
}

.Sport{
    position: absolute;
    width: 60%;
    height: 32px;
    left: 65%;
    margin-top: 2%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;

    color: #000000;

}

#titre{
    position: absolute;
    width: 60%;
    height: 76px;
    margin-left: 2%;
    top: 100px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    border: 3px solid #0F9F49;
    border-radius: 20px;
}

.sportList{
    cursor: pointer;
    position: absolute;
    width: 30%;
    height: 85px;
    margin-left: 65%;
    top: 100px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    border: 3px solid #0F9F49;
    border-radius: 20px;
}

.submitForm2{
    cursor: pointer;
    position: absolute;
    width: 340px;
    height: 55px;
    left: 40%;
    top: 219px;
    border-radius: 20px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding : auto;

    color: #000000;
    background: #0F9F49;
    border: 4px solid #0F9F49;
}