div{
    cursor: pointer;
}
.formSeance{
    
    position: relative;
    text-align:left;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    border-radius: 20px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin-left: 7%;
    top: 90px;
    height: auto;
    width: 90%;
}

label{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    display: flex;
    align-items: center;
    padding-left: 5px;

    color: #000000;
}
input{
    position: absolute;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-left: 30%;
    top:auto;

    border: 3px solid #0F9F49;
    border-radius: 20px;
}
select{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 40px ;
    box-shadow: 0 0 10px #E8E8E8 inset;
    padding: 10px;
    position: relative;
    color:black;
    font-weight: bold;
    font-family: "Arial";
    font-size: 30px;
    width: 30%;
    top: auto;
    height: auto;
    margin-left: 2%;
    text-align: center;
    border: 1px solid white;

}

#buttonSubmitSeance{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 87%;
    top: 80%;
    border-radius: 20px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding-left: 30px;

    color: #000000;
    background: #0F9F49;
 
    border: 10px solid #0F9F49;
}

#buttonSubmitEx{
    position: absolute;
    width: auto;
    height: 40px;
    left: 4%;
    border-radius: 20px;
    
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: auto;

    color: #000000;
    background: #0F9F49;
    border: 10px solid #0F9F49;
}