.listeSport{
    position: absolute;
    border-radius: 20px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin-left: 53%;
    top: 90px;
    height: auto;
    min-height: 300px;
    width: 44%;
}