.sportList{
    position: relative ;
    background-color: #DDDDDD;
    font-weight: bold;
    font-family: "Arial";
    font-size: 30px;
    width: 40%;
    top: 10px;
    margin-left: 2%;
    height: 50px;
    text-align: center;
    border: 10px solid DDDDDD;
    border-radius: 20px;    
}