.selectSportVisu{
    position: relative;
    cursor: pointer;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 20px ;
    padding: 10px;
    margin-left:7%;
    position: relative;
    color:black;
    font-weight: bold;
    font-family: "Arial";
    font-size: 40px;
    width: 91%;
    margin-top: 50px;;
    height: auto;
    text-align: center;
    border: 10px solid white;  

}

.titreVisu{
    position: relative;
    color:#000000;
    margin-left: 7%;
    top: 0px;
    text-decoration: underline;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
}

.TabSeance{
    position: relative;
    text-align:left;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    border-radius: 20px;
    background: #FFFFFF;
    border: 10px solid #FFFFFF;
    margin-left: 7%;
    top: 50px;
    height: auto;
    width: 90%;
    margin-bottom: 200px;
}

.tableSeanceVisu{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
#NumSeance {
    width: 10%;
}


.tableListEx{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.tableDetailsEx{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.ListeExVisu, .detailsExVisu,  .tabSeanceVisu{
    text-align: center;
}