.containerMenus{
    position: relative;
    width: 90%;
    height: auto;
    margin-left: 7%;
    top: 150px;
    background: #FFFFFF;
    border: 10px solid #FFFFFF;
    border-radius: 20px;
}

.containerMenus select{
    position: relative;
    width: 20%;
    height: 61px;
    text-align: center;
    color : white;
    background: #0F9F49;
    border-radius: 20px;
}

#dropMenuSport{
    left : 0px;
}

#dropMenuSeanceX {
    left : 100px;
}
#dropMenuSeanceY {
    left : 200px;
}
#dropMenuExercices{
    left:300px;
}

.containerBar{
    position: relative;
    width: 90%;
    height: auto;
    margin-left: 7%;
    top: 200px;

    background: #FFFFFF;
    border: 10px solid #FFFFFF;
    border-radius: 20px;
}

.Bar{
    position: relative;
    width: 982px;
}