.containerMenus{
    position: relative;
    width: 90%;
    height: auto;
    margin-left: 4%;
    top: 150px;
    background: #FFFFFF;
    border: 10px solid #FFFFFF;
    border-radius: 20px;
}

select{
    position: relative;
    width: 25%;
    height: 61px;
    text-align: center;
    color : white;
    background: #0F9F49;
    border-radius: 20px;
}

#dropMenuSport{
    left : -100px;
}


#dropMenuSeanceY {
    left : 100px;
}

