.containerMenus{
    position: absolute;
    width: 1232px;
    height: 321px;
    left: 141px;
    top: 266px;

    background: #FFFFFF;
    border: 10px solid #FFFFFF;
}

#dropMenuSport{
    position: absolute;
    width: 206px;
    height: 61px;
    left: 256px;
    top: 75px;
    text-align: center;
    color : white;

    background: #0F9F49;
}

#dropMenuSeanceX {
    position: absolute;
    width: 206px;
    height: 61px;
    left: 506px;
    top: 75px;
    text-align: center;
    color : white;

    background: #0F9F49;
}

#dropMenuSeanceY {
    position: absolute;
    width: 206px;
    height: 61px;
    left: 756px;
    top: 75px;
    text-align: center;
    color : white;

    background: #0F9F49;
}