#main{
    margin-top: 20%;
    margin-left: 0%;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.boxGraphique{
 
    position: absolute;
    width: 632px;
    height: 52px;
    left: 758px;
    top: 96px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 10px solid #FFFFFF;
}

#defilgraph{

    position: absolute;
    width: 25px;
    height: 25px;
    left: 580px;
    top: 15px;
}

.boxGraphique button {
    display: inline-block;
    background: #FFFFFF;
    position: absolute;
    width: 632px;
    height: 60px;
    left:0px;
    padding:10px;
    color:black;
}

.txtbutton{
    left: 50px;

}


.boxSport{
    
    position: absolute;
    width: 628px;
    height: 52px;
    left: 97px;
    top: 96px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 10px solid #FFFFFF;
}

.boxSport button {
    display: inline-block;
    background: #FFFFFF;
    position: absolute;
    width: 632px;
    height: 60px;
    left:0px;
    padding:10px;
    color:black;
}

#defilsport{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 580px;
    top: 15px;
}