#main{ /* Div contenant la page */
    margin-top: 20%;
    margin-left: 0%;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 0;
}

.boxGraphique{ /* Div contenant le select de graph */
 
    position: absolute;
    width: 44%;
    height: 6%;
    left: 52.7%;
    top: 96px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 10px solid #FFFFFF;
}

#typeList{ /* Select de graph */
    top :0px;
    left:-20px;
    width: 90%;
    height: 100%;
    border: none;
    background-color:white; ;
    background-color: #FFFFFF;
    font-weight: bold;
    font-family: "Arial";
    font-size: 30px;
    margin-left: 4%;
    text-align: right;
}

.boxSport{  /* Div contenant le select de sport*/
    
    position: absolute;
    width: 44%;
    height: 6%;
    left: 6.7%;
    top: 96px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 10px solid #FFFFFF;
}

.selectSport{ /* select du sport*/
    top :0px;
    left:-20px;
    width: 90%;
    height: 100%;
    border: none;
    background-color:white; ;
    background-color: #FFFFFF;
    font-weight: bold;
    font-family: "Arial";
    font-size: 30px;
    margin-left: 4%;
    text-align: right;
}

.chartVisu{
    background: white;
    position: relative;
    border-radius: 10px;
    top : 0%;
    height: 100%;
    width: 91%;
    left: 6.7%;
}