
.SportVisu{ /* select du sport*/
    position:relative;
    top:90px;
    width: 42%;
    height: 60px;
    cursor: pointer;
    background: none repeat scroll 0 0 #FFFFFF;
    color:black;
    font-weight: bold;
    font-family: "Arial";
    font-size: 30px;
    margin-left: 7%;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
}

.ListGraph{ /* Select de graph */
    position: relative;
    width: 42%;
    top:29px;
    height: 60px;
    cursor: pointer;
    background: none repeat scroll 0 0 #FFFFFF;
    color:black;
    font-weight: bold;
    font-family: "Arial";
    font-size: 30px;
    margin-left: 55%;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;

}


.chartVisu{
    position: relative;
    background: white;
    border-radius: 20px;
    top:90px;
    margin-bottom: 5%;
    height:900px;
    width: 90%;
    margin-left: 7%;
}