.containerParagraphe{
    position: relative;
    width: 90%;
    height: auto;
    top: 90px;
    margin-left : 7%;
    background: #FFFFFF;
    border: 10px solid #FFFFFF;
    border-radius: 20px;
}

.paragraphe{
    position: relative;
    width: 1152px;
    height: 94px;
    margin-left:7%;
    padding-top: 2em;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;

    align-items: center;

    color: #000000;
}

.containerBar{
    position: relative;
    width: 90%;
    height: auto;
    margin-left: 7%;
    top: 200px;

    background: #FFFFFF;
    border: 10px solid #FFFFFF;
    border-radius: 20px;
}

.Bar{
    position: relative;
    width: 982px;
    height: 455px;
    left: 125px;
    top: 86px;
}