.containerParagraphe{
    position: relative;
    width: 90%;
    height: auto;
    top: 90px;
    margin-left : 7%;
    background: #FFFFFF;
    border: 10px solid #FFFFFF;
    border-radius: 20px;
}

.paragraphe{
    position: relative;
    width: 1152px;
    height: 94px;
    margin-left:7%;


    font-family: 'Arial';
    font-weight: 600;
    font-size: 30px;


    align-items: center;

    color: #000000;
}