.barChart{
    background-color: white;
    border: 1px solid white ;
    border-radius: 30px;
    background-position-y:40px;
    margin-top: 0px;
    margin-left:90px;
    margin-bottom: 80px;
    height: 500px;
    width: 760px;
}