body{
    background : #DDDDDD;   
}

.selection{
    position: absolute;
    height: 293px;
    width: 80%;
    left: 200px;
    right:200px;
    top: 197px;
    border-radius: 20px;

    background: #FFFFFF;
    border: 10px solid #FFFFFF;
}

.chart{
    position: absolute;
    height: 813px;
    width: 80%;
    left: 200px;
    right:200px;
    top: 1113px;
    border-radius: 20px;

    background: #FFFFFF;
    border: 10px solid #FFFFFF;
}

.save{
    position: absolute;
    height: 293px;
    width: 80%;
    left: 200px;
    right:200px;
    top: 1965px;
    border-radius: 20px;

    background: #FFFFFF;
    border: 10px solid #FFFFFF;
}

.spiderchart{
    position: absolute;
    width: 788px;
    height: 700px;
    left: 268px;
    top: 39px;
}

.Attribut{
    position: absolute;
    width: 194px;
    height: 32px;
    left: 31px;
    top: 9px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;

    color: #000000;
}

.Score{
    position: absolute;
    width: 194px;
    height: 32px;
    left: 909px;
    top: 9px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;

    color: #000000;
}

#name{
    position: absolute;
    width: 748px;
    height: 76px;
    left: 31px;
    top: 100px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    border: 3px solid #0F9F49;
    border-radius: 20px;
}

#score{
    position: absolute;
    width: 304px;
    height: 76px;
    left: 909px;
    top: 100px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    border: 3px solid #0F9F49;
    border-radius: 20px;
}

.submitForm1{
    position: absolute;
    width: 265px;
    height: 55px;
    left: 518px;
    top: 219px;
    border-radius: 20px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding : 5px 50px 10px 50px;

    color: #000000;
    background: #0F9F49;
    border: 10px solid #0F9F49;
}

.Ajouter{
    position: absolute;
    width: 174px;
    height: 28px;
    left: 53px;
    top: -38px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    
    color: #000000;
}

.titre{
    position: absolute;
    width: 194px;
    height: 32px;
    left: 43px;
    top: 0px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;

    color: #000000;
}

.Sport{
    position: relative;
    width: 194px;
    height: 32px;
    left: 954px;
    top: 0px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

#title{
    position: absolute;
    width: 748px;
    height: 76px;
    left: 36px;
    top: 84px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    border: 3px solid #0F9F49;
    border-radius: 20px;
}

#sport{
    position: absolute;
    width: 304px;
    height: 76px;
    left: 954px;
    top: 84px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    border: 3px solid #0F9F49;
    border-radius: 20px;
}

.submitForm2{
    position: absolute;
    width: 375px;
    height: 55px;
    left: 507px;
    top: 207px;
    border-radius: 20px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding : 5px 50px 10px 50px;

    color: #000000;
    background: #0F9F49;
    border: 10px solid #0F9F49;
}

.listeAttribut{
    position: absolute;
    height: 450px;
    width: 80%;
    left: 200px;
    right:200px;
    top: 600px;
    border-radius: 20px;

    background: #FFFFFF;
    border: 10px solid #FFFFFF;
}
#listeTitre{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
   
}

#attribut{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    left: 4px;
}

.trashButton{
    border-radius: 5px;
    top: auto;
    left: 250px;
    background-color: red;
    width: 30px;
    color: black;
}

#headTab{

    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: left;
    left: 4px;
}

table{
    border : solid 2px green;
    border-radius: 20px;
}
